#python
__pycache__/
*.pyc

# CSV files 
simulated_data_testing.csv
simulated_data_training.csv
CollectedData.csv

# Xcode
DerivedData/
*.xcworkspace
*.xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# macOS system files
*.DS_Store

#venv
.venv
.venv_coreml

